<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Bienvenue dans la Gossip "re"Factory!</h1>
    <p>Ici tu peux éditer ton Gossip!</p>
    <form action='/hello/:name' method='POST'>
      Edite ton nom : <input type='text' name='gossip_edit_author'/><br/>
      Edite ton potin : <input type='text' name='gossip_edit_content'/><br/>
      <input type='submit'/>
    </form>
  </body>
</html>